.footer {
    margin-top:20px;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center

}

.logo item {
    height: 20px;
    padding: 10px;
}

.right{
    flex-flow: 1;
    color: #887788;
    font-size:12px
}